:root {
 --gsn-uiColor0: #353535;
 --gsn-uiColor0high: #404040;
 --gsn-uiColor1: #606060;
 --gsn-uiColor1high: #656565;
 --gsn-uiColor2: hsl(12, 28%, 50%);  /*hsl(10, 43%, 50%);*/
 --gsn-uiColor2high: hsl(12, 28%, 55%);
 --gsn-uiColor3 : #a0a0a0;
 --gsn-uiColor3high: #a5a5a5;
 --gsn-uiColor4: #000000;
 --gsn-uiColor4high: #151515;
 --gsn-uiColor5: #101010;
 --gsn-uiColor5high: #151515;
 --gsn-uiColor4scale: 1.4;
 --gsn-uiColorFast: 1;
}

body {
    font-family: sans-serif;
    background-color: black;
    margin: 0px;
    font-size: 12px
}

.gsnArea {
    display: inline-block;
    position: relative;
    width: 800px; /*change size here*/
    height: 450px; /*change size here*/
}

.canvas2D {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.canvasGL {
    display: inline-block;
    position: absolute;
    top: 0x;
    left: 0px;
}

.canvas2DBackground {
    display: block;
    position: absolute;
    top: 0x;
    left: 0px;
    width: 100%;
    height: 100%;
}

#container {
    display: block;
    text-align: center;
}


#uiMain {
    margin-top: 15px;
    display: block;
    text-align: center;
}

#inputText {
    margin-left: 20px;
}

#footer {
  margin-bottom: 5px;
  font-size: 8pt;
  text-align: center;
  color: #888;
  padding:15px;
}

#footer a {
  color: #888;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #000000;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 2px solid #505050;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 25px;
  max-width: 800px;
  color: #888;
  text-align: center;
}

.modal-content a {
  color: #888;
}


/* The Close Button */
.close {
  color: #505050;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #A0A0A0;
  text-decoration: none;
  cursor: pointer;
}

#currentText {
    color: #FFF;
}

#currentLink {
    color: #FFF;
    overflow-wrap: break-word;
}


.myTextInput {
  background-color: #303030;
  border: 1px solid #A0A0A0;
  outline: none;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  border-radius: 8px;
}

.myTextInput:hover,
.myTextInput:focus {
    background-color: #404040;
    border: 1px solid white;
}
    
    

.button {
  background-color: #4CAF50;
  border: none;
  outline: none;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  border-radius: 8px;
}

.buttongreen {
    background-color: #4CAF50; 
}

.buttongreen:hover,
.buttongreen:focus {
    background-color: #53bf57;
}

.buttonred {
    background-color: #bf2a1f; 
}




.buttonred:hover,
.buttonred:focus {
    background-color: #d92f23;
}

.myBlock {
    display:inline-block;
}

#cardboard {
  background-size: contain;
  margin: auto;
  text-align: left;
  background-repeat: no-repeat;
}

#debugParams {
  margin-bottom: 5px;
  font-size: 8pt;
  text-align: left;
  color: #888;
  padding:15px;
  
}

.debugCell {
  border: 1px solid #888;
  display: inline-block;
  vertical-align: top;
  padding: 3px;
  margin: 3px;
}

#soundname {
  background-color: #303030;
  border: 1px solid #888;
  outline: none;
  color: #888;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  border-radius: 8px;
  min-width: 20em;
}

.spacer {
}

.hidden {
    display: none;
}